sample/matrix_care_resident_list_outbound.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceResult">
    <xs:sequence>
      <xs:element name="TransactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="MessageTxt" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
